* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

.h1-container-portfolio {
    display: flex;
    justify-content: center; /* centre horizontalement */
    width: 100%;
    padding-bottom: 2em;
    padding-top: 2em;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "marydale";
    color: #59492D;
    font-weight: lighter;
    font-size: 3.5em;
}

.h1-portfolio {
    display: inline-block; /* boîte juste autour du texte pour exclure traînée */
}

.h1-experience {
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    top: 2em;
    padding-top: 1em;
    z-index: 2;
}

header {
    background-color: #1C3425;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
    position: fixed;
    width: 100%;
    z-index: 1000;
    cursor: default;
}

main {
    background-image: url("Fond.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 100px;
}

.main-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 225px;
    height: auto;
    cursor: pointer;
}

.navigateur {
    display: flex;
    gap: 7em;
    padding-right: 7em;
}

.navigateur a {
    color: #F2F0ED;
    font-family: "adobe-calson-pro";
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.navigateur a::first-letter {
    font-size: 1.6em;
}

.navigation::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0;
    height: 0.06em;
    background-color: #F2F0ED;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
}

.navigation:hover::after,
.navigation.active::after {
    width: 100%;
}

.carnet {
    display: block;
    max-width: 42%;
    margin: 0 auto;
    padding-bottom: 2em;
    transform: rotate(-5deg);
    transition: transform 0.3s ease;
}

.carnet:hover {
    transform: rotate(0deg);
}

.cta {
    background-color: #59492D;
    color: #F2F0ED;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    font-family: "adobe-caslon-pro";
    font-size: 1.3em;
    text-transform: uppercase;
    border-style: solid;
    border-color: #59492D;
    border-width: 0.1em;
    cursor: pointer;
    position: relative; /* créer un contexte de stacking */
    z-index: 3;
    transition: all 0.3s ease;
}

.cta:hover {
    background-color: #F2F0ED;
    color: #59492D;
    border: #59492D;
    border-style: solid;
    border-width: 0.1em;
}

.cta-container {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 5em;
}

#trail-container {
    position: absolute; /* position par rapport au body */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* laisse passer la souris */
    z-index: 0; /* derrière tout le contenu */
}

.trail-image {
    position: absolute;   /* position relative au container */
    width: 80px;
    opacity: 0.9;
    transition: transform 3s, opacity 3s;
    pointer-events: none;
}

.tournesol {
    height: 100%;
    width: 100%;
    z-index: 0;
    padding-top: 5em;
    margin-bottom: -2em;
}

.bouquet {
    width: 100%;
}

.bouquet-herbier {
    display: flex;
    justify-content: center; /* centre horizontalement */
    margin: 5em;
    margin-left: 2em;
}

.bocaux {
    width: 90%;
    display: flex;
    margin: auto;
    padding-bottom: 4em;
    padding-top: 4em;
}

.colonne {
    display: flex;
    flex-direction: row;
    background-color: #1C3425;
    gap: 2em; /* espace entre les colonnes */
    justify-content: center;
    margin-top: -30em;
}

.divvide {
    flex: 1; /* chaque colonne prend la même largeur */
}

.chinois {
    text-align: center;
    color: #F2F0ED;
    font-family: "marydale";
    padding: 3em;
    font-size: 1.3em;
    line-height: 1.3em;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.sijétais {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
}

.QR {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
}

.part1, .part2 {
    display: inline-block;
    font-size: 1.1em;
}

.part2 {
    opacity: 0;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 2s ease;
}

.QR.visible .part2 {
    opacity: 1;
    clip-path: inset(0 0 0 0);
}

body.arrosoir {
    cursor: url("Arrosoir.png") 32 32, auto;
}

.portfolio {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 7em;
    column-gap: 5em;
    row-gap: 3em;
}

.image {
    width: 100%;
    display: block;
    height: auto;
    padding-bottom: 0.5em;
    margin: 0;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.cellule.seen .image {
    filter: grayscale(0%);
}

.légende {
    display: block;
    height: auto;
    text-align: center;
    font-family: "marydale";
    font-style: italic;
    font-weight: bold;
    font-size: 1.8em;
    color: #1C3425;
    padding-bottom: 0.2em;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.date {
    font-family: "marydale";
    font-size: 1em;
    color: #3d3d3d;
    text-align: center;
    padding-bottom:3em;
    padding-left: 0;
    padding-right: 0;
    font-style: italic;
    margin: 0;
}

.cellule {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-end; 
    min-height: 350px;
    overflow: hidden;
}

.cellule:hover .image {
    filter: grayscale(0%);
}

.cellule:hover .image-wrapper {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.detail-projet {
    display: none;
    padding: 3em;
}

.detail-projet:target { display: block; }

.detail-projet:target ~ .portfolio { display: none; }

.projet {
    display: none;
    padding: 4em;
    margin: auto;
    padding-left: 10em;
}

.projet:target { display: block; }

.projet:target ~ #portfolio { display: none; }

.image2 {
    max-width: 30%;
    height: auto;
    display: block;
    padding-top: 3em;
}

.description {
    font-family: Verdana;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-top: 3em;
}

.projet-contenu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2em;
}

.description h4 {
    margin: 0;
    padding-bottom: 0.1em;
}

.description p {
    margin: 0;
}

.brief ul {
    margin: 0.5em;
    margin-left: 0.5em;
    padding-right: 1em;
    font-family: Verdana;
    font-size: 1.1em;
}

.brief ul li {
    line-height: 1.3em;
    margin-bottom: 1em;
}

.brief p {
    margin: 0;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.3em;
    font-weight: bold;
    font-size: 1.3em;
}

.brief {
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 0.1em;
    margin-top: 1em;
}

.cellule, .cellule * { cursor: url("Arrosoir.png") 32 32 , auto; }

.image-wrapper {
    position: relative;
    width: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay-date {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-family: Verdana;
    font-size: 0.9em;
    font-style: italic;
    text-shadow: 0.5em;
    color: white;
}

.cellule:hover .overlay { opacity: 1; }

.précédent, .suivant {
    position: fixed;
    top: 50%;
    font-size: 2em;
    color: white;
    background-color: brown;
    border-radius: 1em;
    text-decoration: none;
    padding: 0.3em 0.8em;
    padding-bottom: 0.4em;
}

.retour:hover, .précédent:hover, .suivant:hover {
    cursor: pointer;
    color: black;
    background-color: lightgrey;
}

.précédent { left: 1em; }
.suivant { right: 1em; }

.logiciels2 {
    font-family: Verdana;
    font-size: 0.9em;
    color: #3d3d3d;
    padding-bottom:0.8em;
    font-style: italic;
    margin: 0;
    padding-left: 0;
}

.overlay-projet {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    overflow-y: auto;
    padding: 2em;
    color: black;
    cursor: default;
}

.overlay-projet .fermer {
    position: absolute;
    top: 1em;
    right: 3em;
    font-size: 3em;
}

.overlay-projet .projet-contenu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2em;
    padding: 8em;
}

.overlay-projet .image2 {
    max-width: 30%;
    height: auto;
}

.overlay-projet .description {
    max-width: 60%;
    font-family: Verdana;
}

.merci {
    text-align: center;
    padding-top: 0.5em;
}

.vraiment {
    text-align: center;
    font-family: "marydale";
    color: #59492D;
    font-size: 1.4em;
    margin-top: -1em;
}

.contact {
    color: #59492D;
    font-family: "marydale";
    text-align: center;
    font-size: 1.6em;
    padding-top: 1em;
    line-height: 1.2em;
}

.contact-form {
    padding: 30px 40px;
    width: 500px;
    padding-bottom: 6em;
}

/* Grille pour 2 colonnes */
.row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.col-full {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

.contact-form label {
    font-size: 1.15em;
    margin-bottom: 5px;
    color: #1C3425;
    font-family: "adobe-caslon-pro";
    text-transform: uppercase;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-color: #59492D;
    border-width: 0.1em;
    border-style: solid;
    font-size: 1.1em;
    font-family: "adobe-caslon-pro";
    color: #59492D;
}

.contact-form textarea {
    resize: vertical;
    height: 200px;
}

.contact-form button {
    width: 30%;
    margin-left: 4em;
    margin-right: 4em;
    padding-top: 0.5em;
    border: solid;
    border-color: #59492D;
    background-color: #59492D;
    color: #F2F0ED;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 10px;
    font-family: "adobe-caslon-pro";
    text-transform: uppercase;
    margin: 10px auto 0 auto; /* centrer le bouton horizontalement */
    display: block;            /* nécessaire pour que margin auto fonctionne */
    transition: all 0.3s ease;
}

.contact-form button:hover {
    background-color: #F2F0ED;
    color: #59492D;
}

.contact-form button:first-letter {
    font-size: 1.5em;
}


footer {
    background-color: #1C3425;
    color: #F2F0ED;
    font-family: "adobe-caslon-pro";
    font-size: 1.1em;
    padding-top: 4em;
    position: relative;
    z-index: 2;
    cursor: default;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    column-gap: 8em;
}

.footer-container > div {
    text-align: left;
}

.navigateurfooter {
    font-family: "adobe-calson-pro";
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
}

.navigateurfooter a::first-letter {
    font-size: 1.5em;
}

.contactfooter {
    font-family: "adobe-calson-pro";
    font-size: 1.15em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.linkedin { width: 9%; }

.navigationfooter {
    color: #F2F0ED;
    position: relative;  
    text-decoration: none;
    display: inline-block;
}

.navigationfooter:hover::after {
    width: 100%;
    left: 0;
}

.navigationfooter::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 0.06em;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
}

.signature {
    font-family: "marydale";
    text-align: center;
    font-size: 1.15em;
    padding-top: 2.5em;
    padding-bottom: 3.5em;
}